* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
#complete-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}
*/
#complete-container {
    display: flex;
}


#complete-container > * {
    height: 500px;

}

#main {
    background-color: grey;
    flex: 3;
}

#form {
    background-color: yellow;
    flex: 1;
}

#toggle-form {
    font-size: 40px;
};